:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 75rem;
}


/*****STYLES RESET*****/

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    /* un scroll fluido y suave */
    scroll-behavior: smooth;
}


/* before & after inserts content or styles before or after the selected element*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    /* overflow x oculta todo lo que se desborde de forma hotizontal */
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}


/*****HAMBURGER MENU*****/

.header {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
}

.header h1 {
    margin: 0 auto;
    text-align: center;
}

.section {
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    /* aunque el contenido de la sección sea más pequeño, esta ocupará el 100 del vh */
    min-height: 100vh;
    text-align: center;
}

.panel {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: var(--second-modal-color);
    transition: transform 0.3s ease;
    /* de arriba hacia abajo */
    transform: translate(0, -100%);
}

.panel.is-active {
    transform: translate(0, 0);
}

.panel-btn {
    position: fixed;
    z-index: 999;
    /* bottom y right son los que colocan al botón en la esquina inferior derecha */
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a {
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: background-color 300ms ease, color 300ms ease, font-weight 300ms ease;
}

.menu a:hover {
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-modal-color);
}


/*****KEYBOARD EVENTS*****/

.stage {
    display: flex;
    min-height: 50vh;
    background-color: var(--second-color);
}

.ball {
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);
}


/*****SCROLL TOP BTN*****/

.scroll-top-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: calc(4.5rem + 1vw);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--second-color);
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: background-color 300ms ease-out, color3400ms ease-out;
}

.scroll-top-btn:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}


/*****DARK THEME MODE*****/

.dark-theme-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 1vh;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--second-color);
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: background-color 300ms ease-out, color3400ms ease-out;
}

.dark-theme-btn:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}

.dark-mode {
    background-color: var(--second-color);
    color: var(--main-color);
}